<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slzr.account.dao.AccountDao">

	<select id="get" resultType="com.slzr.account.domain.AccountDO">
		select ID,MerchantCode,UID,AccountType,AccountNO,MobilePhone,TrueName,Gender,CertNO,CardTypeCode,
		SubCardTypeCode,State,MaxTxnAmount,TopupCounter,DebitCounter,LastMakePayTicketTime,LastTopupAmount,
		LastTopupTime,LastDebitAmount,LastDebitTime,TotalTopupAmount,TotalDebitAmount,Balance,Score,FreeBalance,
		FreeTimes,AccountExpireTime,CertPhotoUrl,PersonPhotoUrl,CreatedBy,CreatedDate,UpdatedBy,UpdatedDate,Remark,
		CertMAC from BAR_Account where ID = #{value}
	</select>
	
	<select id="getbyAccountNO" resultType="com.slzr.account.domain.AccountDO">
		select ID,MerchantCode,UID,AccountType,AccountNO,MobilePhone,TrueName,Gender,CertNO,CardTypeCode,
		SubCardTypeCode,State,MaxTxnAmount,TopupCounter,DebitCounter,LastMakePayTicketTime,LastTopupAmount,
		LastTopupTime,LastDebitAmount,LastDebitTime,TotalTopupAmount,TotalDebitAmount,Balance,Score,FreeBalance,
		FreeTimes,AccountExpireTime,CertPhotoUrl,PersonPhotoUrl,CreatedBy,CreatedDate,UpdatedBy,UpdatedDate,Remark,
		CertMAC from BAR_Account where AccountNO = #{value}
	</select>

	<select id="list" resultType="com.slzr.account.domain.AccountDO">
		SELECT a.AccountNO,a.ID,a.MerchantCode,AccountTypeName.DataValue AS AccountTypeName,StateName.DataValue AS StateName,
					a.MobilePhone,a.CreatedDate,a.Balance,a.LastDebitTime,
					a.LastDebitAmount,a.PersonPhotoUrl,a.CertPhotoUrl , a.FreeBalance
					
		From (SELECT AccountNO,ID,AccountType,State,MobilePhone,CreatedDate,Balance,LastDebitTime,LastDebitAmount,
							PersonPhotoUrl,CertPhotoUrl,MerchantCode, FreeBalance
					FROM BAR_Account) AS a LEFT OUTER JOIN
						(SELECT DataCode,DataValue
							FROM SYS_Dictionary 
							WHERE (DictCode='AccountType')) AS AccountTypeName ON
					a.AccountType = AccountTypeName.DataCode LEFT OUTER JOIN
						(SELECT DataCode,DataValue
							FROM SYS_Dictionary AS SYS_Dictionary_1
							WHERE (DictCode='AccountState')) AS StateName ON a.State = StateName.DataCode
		<where>  		  		  
		  		  <if test="searchName != null and searchName != ''">(   a.AccountNO LIKE	 '${searchName}%' OR a.MobilePhone LIKE	 '${searchName}%')
				  </if>
					<if test="merchantCode != null and merchantCode != ''"> and a.MerchantCode = #{merchantCode} </if>
		  		  <if test="state != null and state != ''"> and a.State = #{state} </if>
		</where>

        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by CreatedDate desc
			</otherwise>
        </choose>

	</select>
	
 	<select id="count" resultType="int">
		select count(*)
				From (SELECT AccountNO,ID,AccountType,State,MobilePhone,CreatedDate,Balance,LastDebitTime,LastDebitAmount,
							PersonPhotoUrl,CertPhotoUrl,MerchantCode
					FROM BAR_Account) AS a LEFT OUTER JOIN
						(SELECT DataCode,DataValue
							FROM SYS_Dictionary 
							WHERE (DictCode='AccountType')) AS AccountTypeName ON
					a.AccountType = AccountTypeName.DataCode LEFT OUTER JOIN
						(SELECT DataCode,DataValue
							FROM SYS_Dictionary AS SYS_Dictionary_1
							WHERE (DictCode='AccountState')) AS StateName ON a.State = StateName.DataCode
		<where>  		  		  
		  		  <if test="searchName != null and searchName != ''">(   a.AccountNO LIKE	 '${searchName}%' OR a.MobilePhone LIKE	 '${searchName}%')
				  </if>
					<if test="merchantCode != null and merchantCode != ''"> and a.MerchantCode = #{merchantCode} </if>
		  		  <if test="state != null and state != ''"> and a.State = #{state} </if>
		</where>
	</select>


	
	<update id="updateAccountState" >
		update BAR_Account 
		<set>
			<if test="operationType != null">State = #{operationType}</if>
		</set>
		where AccountNO = #{accountno,jdbcType=VARCHAR}
	</update>
	
	<update id="update" parameterType="com.slzr.account.domain.AccountDO">
		update BAR_Account 
		<set>
			<if test="merchantcode != null">MerchantCode = #{merchantcode}, </if>
			<if test="uid != null"> UID  = #{uid}, </if>
			<if test="accounttype != null"> AccountType  = #{accounttype}, </if>
			<if test="accountno != null"> AccountNO  = #{accountno}, </if>
			<if test="mobilephone != null"> MobilePhone  = #{mobilephone}, </if>
			<if test="truename != null"> TrueName  = #{truename}, </if>
			<if test="gender != null"> Gender  = #{gender}, </if>
			<if test="certno != null"> CertNO  = #{certno}, </if>
			<if test="cardtypecode != null"> CardTypeCode  = #{cardtypecode}, </if>
			<if test="subcardtypecode != null"> SubCardTypeCode  = #{subcardtypecode}, </if>
			<if test="state != null"> State  = #{state}, </if>
			<if test="maxtxnamount != null"> MaxTxnAmount  = #{maxtxnamount}, </if>
			<if test="topupcounter != null"> TopupCounter  = #{topupcounter}, </if>
			<if test="debitcounter != null"> DebitCounter  = #{debitcounter}, </if>
			<if test="lastmakepaytickettime != null"> LastMakePayTicketTime  = #{lastmakepaytickettime}, </if>
			<if test="lasttopupamount != null"> LastTopupAmount  = #{lasttopupamount}, </if>
			<if test="lasttopuptime != null"> LastTopupTime  = #{lasttopuptime}, </if>
			<if test="lastdebitamount != null"> LastDebitAmount  = #{lastdebitamount}, </if>
			<if test="lastdebittime != null"> LastDebitTime  = #{lastdebittime}, </if>
			<if test="totaltopupamount != null"> TotalTopupAmount  = #{totaltopupamount}, </if>
			<if test="totaldebitamount != null"> TotalDebitAmount  = #{totaldebitamount}, </if>
			<if test="balance != null"> Balance  = #{balance}, </if>
			<if test="score != null"> Score  = #{score}, </if>
			<if test="freebalance != null"> FreeBalance  = #{freebalance}, </if>
			<if test="freetimes != null"> FreeTimes  = #{freetimes}, </if>
			<if test="accountexpiretime != null"> AccountExpireTime  = #{accountexpiretime}, </if>
			<if test="certphotourl != null"> CertPhotoUrl  = #{certphotourl}, </if>
			<if test="personphotourl != null"> PersonPhotoUrl  = #{personphotourl}, </if>
			<if test="createdby != null"> CreatedBy  = #{createdby}, </if>
			<if test="createddate != null"> CreatedDate  = #{createddate}, </if>
			<if test="updatedby != null"> UpdatedBy  = #{updatedby}, </if>
			<if test="updateddate != null"> UpdatedDate  = #{updateddate}, </if>
			<if test="remark != null"> Remark  = #{remark}, </if>
			<if test="certmac != null"> CertMAC  = #{certmac}</if>
		</set>
		where AccountNO = #{accountno}
	</update>



</mapper>