<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="signupForm">
						<div class="form-group">
							<input id="id" name="id" type="hidden" th:value="${disSetting.id}" >
							<label class="col-sm-3 control-label">商户简称：</label>
							<div class="col-sm-5">
								<input id="merchantCode" name="merchantCode" class="form-control" type="text"  th:value="${disSetting.merchantCode}" readonly>
							</div><span class="text_red " style="color: red" >*</span>&nbsp
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">优惠方案名称：</label>
							<div class="col-sm-5">
								<input id="discountName" name="discountName" class="form-control" type="text" th:value="${disSetting.discountName}">
							</div><span class="text_red " style="color: red" >*</span>&nbsp
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">优惠方案描述：</label>
							<div class="col-sm-5">
								<input id="discountDesc" name="discountDesc" class="form-control" type="text" th:value="${disSetting.discountDesc}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">方案开始时间：</label>
							<div class="col-sm-5">
								<input   type="text" name="effectiveDateTime" id="effectiveDateTime" autocomplete="off" class="layui-input" th:value="${disSetting.effectiveDateTime}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">方案结束时间：</label>
							<div class="col-sm-5">
								<input   type="text" name="expiredDateTime" id="expiredDateTime" autocomplete="off" class="layui-input" th:value="${disSetting.expiredDateTime}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">启用状态：</label>
							<div class="col-sm-5">
								启用  <input type="radio" th:checked="${disSetting.enabled=='1'}" name="enabled" value="1" >  &nbsp&nbsp&nbsp
								不启用<input type="radio" th:checked="${disSetting.enabled=='0'}" name="enabled" value="0" >
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<div class="ibox float-e-margins">
									<div align="center">
										<h3>赠送方案设置</h3>
										<br/>
										<input type="button" value="添加" onclick="addBtn()"  />
										<hr/>
										<table border="1">
											<tr>输入金额请按照从小到大的格式输入</tr>
											<tr>
												<th>起始金额</th>
												<th>结束金额</th>
												<th>赠送金额（支持%）</th>
												<th>操作</th>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-3">
								<button type="submit" class="btn btn-primary">提交</button>
							</div>
						</div>


					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var obj11 = [[${disSettingDeta}]]
</script>

<script type="text/javascript" src="/js/appjs/operation/sendcase/edit.js"/>




</body>
</html>
