<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slzr.operation.dao.OPTDepartmentDao">

	<select id="list" resultType="com.slzr.operation.domain.OPTDepartmentDO">
		select 	ID,MerchantCode,DeptCode,DeptName,ParentDeptID as parentId,DeptTypeCode,
				Header,CreatedBy,CreatedDate,UpdatedBy,UpdatedDate,Remark 
				from OPT_Department d
        <where>  
			<if test="searchName != null and searchName != ''"> and m.MobilePhone like  CONCAT('%', #{searchName}, '%')  OR m.NickName like CONCAT('%', #{searchName}, '%') </if>
			<if test="state != null and state != ''"> and IsResolved = #{state} </if>
			<if test="isresolved != null and isresolved != ''"> and IsResolved = #{isresolved} </if>
			<if test="id != null and isresolved != ''"> and id = #{id} </if>
			<if test="deptCode != null and deptCode != ''"> and DeptCode = #{deptCode} </if>
			<if test="merchantCode != null and  merchantCode!= ''">AND MerchantCode = #{merchantCode}</if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by d.ID desc
			</otherwise>
        </choose>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from OPT_Department
		 <where>  
		  		  <if test="id != null and id != ''"> and ID = #{id} </if>
		  		  <if test="msgtypeid != null and msgtypeid != ''"> and MsgTypeID = #{msgtypeid} </if>
		  		  <if test="uid != null and uid != ''"> and UID = #{uid} </if>
		  		  <if test="mobilephone != null and mobilephone != ''"> and MobilePhone = #{mobilephone} </if>
		  		  <if test="truename != null and truename != ''"> and TrueName = #{truename} </if>
		  		  <if test="gender != null and gender != ''"> and Gender = #{gender} </if>
		  		  <if test="msgcontent != null and msgcontent != ''"> and MsgContent = #{msgcontent} </if>
		  		  <if test="attachphotourl != null and attachphotourl != ''"> and AttachPhotoUrl = #{attachphotourl} </if>
		  		  <if test="submitdatetime != null and submitdatetime != ''"> and SubmitDateTime = #{submitdatetime} </if>
		  		  <if test="lastreplyuid != null and lastreplyuid != ''"> and LastReplyUID = #{lastreplyuid} </if>
		  		  <if test="lastreplydatetime != null and lastreplydatetime != ''"> and LastReplyDateTime = #{lastreplydatetime} </if>
		  		  <if test="isresolved != null and isresolved != ''"> and IsResolved = #{isresolved} </if>
				 <if test="merchantCode != null and  merchantCode!= ''">AND MerchantCode = #{merchantCode}</if>
		 </where>
	</select>
	 
	<insert id="save" parameterType="com.slzr.operation.domain.OPTDepartmentDO">
		insert into OPT_Department
		(
			MerchantCode,
			DeptCode,
			DeptName,
			ParentDeptID,
			DeptTypeCode,
			Header,
			CreatedBy,
			CreatedDate,
			UpdatedBy,
			UpdatedDate,
			Remark
		)
		values
		(
			#{merchantCode,jdbcType=VARCHAR},
			#{deptCode,jdbcType=VARCHAR},
			#{deptName,jdbcType=VARCHAR},
			#{parentId,jdbcType=INTEGER},
			#{deptTypeCode,jdbcType=VARCHAR},
			#{header,jdbcType=VARCHAR},
			#{createdBy,jdbcType=INTEGER},
			#{createdDate,jdbcType=TIMESTAMP},
			#{updatedBy,jdbcType=INTEGER},
			#{updatedDate,jdbcType=TIMESTAMP},
			#{remark,jdbcType=VARCHAR}
		)
	</insert>


	<select id="getByID" resultType="com.slzr.operation.domain.OPTDepartmentDO">  
				select 	ID,MerchantCode,DeptCode,DeptName,ParentDeptID as parentId,DeptTypeCode,
				Header,CreatedBy,CreatedDate,UpdatedBy,UpdatedDate,Remark 
				from OPT_Department where  ID = #{value}
	</select>

	<update id="update" parameterType="com.slzr.operation.domain.OPTDepartmentDO">
		update OPT_Department
		<set>
			<if test="merchantCode != null">MerchantCode = #{merchantCode}, </if>
			<if test="deptCode != null">DeptCode = #{deptCode}, </if>
			<if test="deptName != null">DeptName = #{deptName}, </if>
			<if test="parentId != null">ParentDeptID = #{parentId}, </if>
			<if test="deptTypeCode != null">DeptTypeCode = #{deptTypeCode}, </if>
			<if test="header != null">Header = #{header}, </if>
			<if test="createdBy != null">CreatedBy = #{createdBy}, </if>
			<if test="createdDate != null">CreatedDate = #{createdDate}, </if>
			<if test="updatedBy != null">UpdatedBy = #{updatedBy}, </if>
			<if test="updatedDate != null">UpdatedDate = #{updatedDate}, </if>
			<if test="remark != null">Remark = #{remark}, </if>

		</set>
		where iD = #{iD}
	</update>


	<delete id="remove">
		delete from OPT_Department where ID = #{value}
	</delete>
	

</mapper>