<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slzr.operation.dao.SendCaseDao">

	<sql id="BAR_TopupDiscount_Column">
        BAR_TopupDiscountSetting.ID as id
        ,BAR_TopupDiscountSetting_Detail.ID AS  pid
        ,BAR_TopupDiscountSetting.MerchantCode AS merchantCode
        ,BAR_Merchant.MerchantName AS  merchantName
        ,BAR_TopupDiscountSetting.DiscountName as discountName
        ,BAR_TopupDiscountSetting.DiscountDesc as DiscountDesc
        ,BAR_TopupDiscountSetting.EffectiveDateTime as effectiveDateTime
        ,BAR_TopupDiscountSetting.ExpiredDateTime as expiredDateTime
        ,BAR_TopupDiscountSetting.Enabled as enabled
        ,BAR_TopupDiscountSetting_Detail.FromAmount as fromAmount
        ,BAR_TopupDiscountSetting_Detail.ToAmount as toAmount
        ,BAR_TopupDiscountSetting_Detail.DiscountAmount as discountAmount
        ,BAR_TopupDiscountSetting_Detail.DiscountAmountUnit as discountAmountUnit
    </sql>

    <select id="list" resultType="com.slzr.operation.domain.SendCaseDo">
        select
        BAR_TopupDiscountSetting.ID AS id
        ,BAR_TopupDiscountSetting.MerchantCode AS merchantCode
        ,BAR_Merchant.MerchantName AS  merchantName
        ,BAR_TopupDiscountSetting.DiscountName as discountName
        ,BAR_TopupDiscountSetting.DiscountDesc as DiscountDesc
        ,BAR_TopupDiscountSetting.EffectiveDateTime as effectiveDateTime
        ,BAR_TopupDiscountSetting.ExpiredDateTime as expiredDateTime
        ,BAR_TopupDiscountSetting.Enabled as enabled
        from BAR_TopupDiscountSetting
        LEFT JOIN  BAR_Merchant ON BAR_Merchant.MerchantCode=BAR_TopupDiscountSetting.MerchantCode
        <where>
            <if test="id != null and  id != ''"> and BAR_TopupDiscountSetting.ID = #{id}</if>
            <if test="merchantCode != null and  merchantCode != ''"> and BAR_TopupDiscountSetting.MerchantCode = #{merchantCode}</if>
            <if test="discountName != null and  discountName != ''"> AND BAR_TopupDiscountSetting.discountName LIKE '${discountName}%'</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by ExpiredDateTime desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            Offset ${offset} Row Fetch Next ${limit} Rows Only
        </if>
    </select>

	<select id="lists" resultType="com.slzr.operation.domain.SendCaseDo">
		select 
		<include refid="BAR_TopupDiscount_Column" />
		from BAR_TopupDiscountSetting
        LEFT JOIN BAR_TopupDiscountSetting_Detail  ON  BAR_TopupDiscountSetting.ID = BAR_TopupDiscountSetting_Detail.DiscountSettingID
        LEFT JOIN  BAR_Merchant ON BAR_Merchant.MerchantCode=BAR_TopupDiscountSetting.MerchantCode
        <where>
            <if test="id != null and  id != ''"> and BAR_TopupDiscountSetting.ID = #{id}</if>
            <if test="merchantCode != null and  merchantCode != ''"> and BAR_TopupDiscountSetting.MerchantCode = #{merchantCode}</if>
            <if test="discountName != null and  discountName != ''"> AND BAR_TopupDiscountSetting.discountName LIKE '%${discountName}'</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by ExpiredDateTime desc
            </otherwise>
        </choose>
		<if test="offset != null and limit != null">
			Offset ${offset} Row Fetch Next ${limit} Rows Only
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from BAR_TopupDiscountSetting

        <where>
            <if test="merchantCode != null and  merchantCode != ''"> and MerchantCode = #{merchantCode}</if>
            <if test="discountName != null and  discountName != ''"> AND discountName LIKE '%${discountName}'</if>
        </where>
	</select>

    <insert id="save1" parameterType="com.slzr.operation.domain.SendCaseDo" keyProperty="id" useGeneratedKeys="false">
        insert into BAR_TopupDiscountSetting(MerchantCode,DiscountName,DiscountDesc,EffectiveDateTime,ExpiredDateTime,Enabled,CreatedBy,CreatedDateTime)
        values(#{merchantCode},#{discountName}, #{discountDesc},#{effectiveDateTime},#{expiredDateTime},#{enabled},#{createdBy},#{createdDateTime})
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT IDENT_CURRENT('BAR_TopupDiscountSetting') AS id
        </selectKey>
      <!--  <selectKey resultType="java.lang.Integer" keyProperty="id">
            SELECT SCOPE_IDENTITY()
        </selectKey>-->
    </insert>

    <insert id="save2" parameterType="com.slzr.operation.domain.SendCaseDo">
        insert into BAR_TopupDiscountSetting_Detail(DiscountSettingID,FromAmount,ToAmount,DiscountAmount,DiscountAmountUnit)
        values(#{discountSettingID,jdbcType=INTEGER},#{fromAmount,jdbcType=INTEGER},#{toAmount,jdbcType=INTEGER}, #{discountAmount,jdbcType=INTEGER},#{discountAmountUnit,jdbcType=VARCHAR})
    </insert>


    <update id="update1" parameterType="com.slzr.operation.domain.SendCaseDo">
        update BAR_TopupDiscountSetting set
        DiscountName=#{discountName,jdbcType=INTEGER}
        ,DiscountDesc=#{discountDesc,jdbcType=INTEGER}
        ,EffectiveDateTime=#{effectiveDateTime,jdbcType=VARCHAR}
        ,ExpiredDateTime=#{expiredDateTime,jdbcType=TIMESTAMP}
        ,Enabled=#{enabled,jdbcType=VARCHAR}
        where ID=#{id,jdbcType=INTEGER}
    </update>
    <update id="update2" parameterType="com.slzr.operation.domain.SendCaseDo">
        update BAR_TopupDiscountSetting_Detail set
         FromAmount=#{fromAmount,jdbcType=INTEGER}
        ,ToAmount=#{toAmount,jdbcType=INTEGER}
        ,DiscountAmount=#{discountAmount,jdbcType=INTEGER}
        ,DiscountAmountUnit=#{discountAmountUnit,jdbcType=INTEGER}
        where ID=#{pid,jdbcType=INTEGER}
    </update>


    <delete id="remove1" parameterType="java.lang.Integer">
        delete from BAR_TopupDiscountSetting where ID =#{id}
    </delete>

    <delete id="remove2" parameterType="java.lang.Integer">
        delete from BAR_TopupDiscountSetting_Detail where DiscountSettingID =#{pid}
    </delete>

    <select id="countEanble" parameterType="com.slzr.operation.domain.SendCaseDo">
        select count(*) from BAR_TopupDiscountSetting
        <where>
            <if test="merchantCode != null and  merchantCode != ''"> and MerchantCode = #{merchantCode}</if>
            AND Enabled = '1'
        </where>
    </select>

    <update id="updateUnEnable" parameterType="java.util.Map">
        update BAR_TopupDiscountSetting set
        Enabled='0'
        <where>
        <if test="merchantCode != null and  merchantCode != ''"> and MerchantCode = #{merchantCode}</if>
            AND  Enabled='1'
        </where>
    </update>

    <update id="updateEnable" parameterType="java.util.Map">
        update BAR_TopupDiscountSetting set
        Enabled='1'
        <where>
            <if test="merchantCode != null and  merchantCode != ''"> and MerchantCode = #{merchantCode}</if>
            <if test="id != null and  id != ''"> and ID = #{id}</if>
        </where>
    </update>

</mapper>