<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<table class="layui-table">
						  <colgroup>
						    <col width="150">
						    <col width="200">
						    <col>
						  </colgroup>
						  <thead>
						    <tr>
						      <th>&nbsp;</th>
						      <th>&nbsp;</th>
						    </tr> 
						  </thead>
						  <tbody>
						    <tr>
						      <td>商户代码</td>
						      <td th:text="${model.merchantCode}"></td>
						    </tr>
						    <tr>
						      <td>商户简称</td>
						       <td>[\\to do\\]</td>
						    </tr>
						    <tr>
						      <td>充值金额</td>
						       <td th:text="${model.topupAmount}"></td>
						    </tr>
						    <tr>
						      <td>充值笔数</td>
						       <td th:text="${model.topupNum}"></td>
						    </tr>
						    <tr>
						      <td>消费金额</td>
						       <td th:text="${model.debitAmount}"></td>
						    </tr>
						    <tr>
						      <td>消费笔数</td>
						       <td th:text="${model.debitNum}"></td>
						    </tr>
						    <tr>
						      <td>退款金额</td>
						       <td th:text="${model.refundAmount}"></td>
						    </tr>
						    <tr>
						      <td>退款笔数</td>
						       <td th:text="${model.debitNum}"></td>
						    </tr>
						    <tr>
						      <td>服务费</td>
						       <td th:text="${model.refundServiceFee}"></td>
						    </tr>
						    <tr>
						      <td>结算方式</td>
						       <td th:text="${settleMethodText}"></td>
						    </tr>
						    <tr>
						      <td>结算费率</td>
						       <td th:text="${model.settleRate}"></td>
						    </tr>
						    <tr>
						      <td>结算金额</td>
						       <td th:text="${model.settleAmount}"></td>
						    </tr>
						    <tr>
						      <td>审核状态</td>
						       <td th:text="${auditStatusText}"></td>
						    </tr>
						    <tr>
						      <td>审核时间</td>
						       <td th:text="${#dates.format(model.auditDateTime,'yyyy-MM-dd HH:mm:ss')}"></td>
						    </tr>
						    <tr>
						      <td>审核人</td>
						       <td th:text="${model.AuditUserName}"></td>
						    </tr>
						    <tr>
						      <td>转账金额</td>
						       <td th:text="${model.transferAmount}"></td>
						    </tr>
						    <tr>
						      <td>转账时间</td>
						       <td th:text="${#dates.format(model.transferDateTime,'yyyy-MM-dd HH:mm:ss')}"></td>
						    </tr>
						    <tr>
						      <td>转账单号</td>
						       <td th:text="${model.transferOrderNO}"></td>
						    </tr>
						    <tr>
						      <td>转账说明</td>
						       <td th:text="${model.transferRemark}"></td>
						    </tr>
						    <tr>
						      <td>结算时间</td>
						       <td th:text="${#dates.format(model.summaryDateTime,'yyyy-MM-dd HH:mm:ss')}"></td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
</body>
</html>
