<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slzr.ureport.dao.AccountCountDao">

	<select id="list" resultType="com.slzr.ureport.domain.AccountCountDo">
		SELECT
		DATEPART(YEAR, TxnDate) AS year,
		<choose>
			<when test="datetype == 'Day'">
				TxnDate AS txnDate,
			</when>
			<when test="datetype == 'Week'">
				DATEPART(Week,TxnDate) AS txnDate,
			</when>
			<when test="datetype == 'Month'">
				DATEPART(Month,TxnDate) AS txnDate,
			</when>
			<otherwise>
				DATEPART(Quarter,TxnDate) AS txnDate,
			</otherwise>
		</choose>
		dic.DataValue as payMethod ,
		'三联' as payAddress,
		SUM (dai.TopupFreeNum) topupFreeNum,
		SUM (dai.TopupFreeAmount) topupFreeAmount,
		SUM(dai.topupNum) topupNum,
		SUM(dai.TopupAmount) topupAmount
		FROM
		BAR_DailySummary_Topup dai
		LEFT JOIN SYS_Dictionary dic ON dai.PayMethodId = dic.DataCode
		<where>
			dic.DictCode = 'PayMethod'
			<if test="payMethod != null and payMethod != ''"> and dic.DataValue = #{payMethod} </if>
			<if test="startDate != null and startDate != '' and endDate!='' and endDate!=null "> and TxnDate BETWEEN #{startDate}  AND  #{endDate}</if>
		</where>
		<choose>
			<when test="datetype == 'Day'">
				GROUP BY DATEPART(YEAR, TxnDate), TxnDate,
				DataValue
			</when>
			<when test="datetype == 'Week'">
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate),
				DataValue
			</when>
			<when test="datetype == 'Month'">
				GROUP BY  DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate),
				DataValue
			</when>
			<otherwise>
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate),
				DataValue
			</otherwise>
		</choose>
		<choose>
			<when test="datetype == 'Day'">
				order by DATEPART(YEAR, TxnDate), TxnDate DESC
			</when>
			<when test="datetype == 'Week'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate) DESC
			</when>
			<when test="datetype == 'Month'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate) DESC
			</when>
			<otherwise>
				order by DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate) desc
			</otherwise>
		</choose>
	</select>


	<select id="get" resultType="com.slzr.ureport.domain.AccountCountDo">
		SELECT
		DISTINCT
		dai.PayMethodId payMethodId,
		dic.DataValue payMethod
		FROM
		SYS_Dictionary dic
		LEFT JOIN BAR_DailySummary_Topup dai ON dai.PayMethodId = dic.DataCode
		WHERE
		dic.DictCode = 'PayMethod'
	</select>



</mapper>