<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slzr.ureport.dao.ACountDao">

	<!-- 车辆 -->
	<select id="ACountCarlist" resultType="com.slzr.ureport.domain.ACountDo">
		SELECT
		DATEPART(YEAR, TxnDate) AS year,
		<choose>
			<when test="datetype == 'Day'">
				TxnDate AS txnDate,
			</when>
			<when test="datetype == 'Week'">
				DATEPART(Week,TxnDate) AS txnDate,
			</when>
			<when test="datetype == 'Month'">
				DATEPART(Month,TxnDate) AS txnDate,
			</when>
			<otherwise>
				DATEPART(Quarter,TxnDate) AS txnDate,
			</otherwise>
		</choose>
		sum(DebitNum) as consumptionPerson
		,sum(DebitAmount) as consumptionAmount
		,SUM (DebitFreeNum) AS debitFreeNum
		,SUM (DebitFreeAmount) AS debitFreeAmount
		,b.BusNo as BusNo
		FROM BAR_DailySummary_Debit d 
		LEFT JOIN OPT_Terminal t ON t.TerminalNO = d.TerminalNO
		LEFT JOIN OPT_Bus b ON b.ID = t.BusID
		<where>
			<if test="startDate != null and startDate != '' and endDate!='' and endDate!=null "> and d.TxnDate BETWEEN #{startDate}  AND  #{endDate}</if>
			<if test="busNO != null and busNO != '' "> and b.BusNo = #{busNO}</if>
			<if test="merchantCode != null and merchantCode != ''"> and b.MerchantCode = #{merchantCode} </if>
		</where>
		<choose>
			<when test="datetype == 'Day'">
				GROUP BY DATEPART(YEAR, TxnDate), TxnDate,
				BusNo
			</when>
			<when test="datetype == 'Week'">
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate),
				BusNo
			</when>
			<when test="datetype == 'Month'">
				GROUP BY  DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate),
				BusNo
			</when>
			<otherwise>
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate),
				BusNo
			</otherwise>
		</choose>
		<choose>
			<when test="datetype == 'Day'">
				order by DATEPART(YEAR, TxnDate), TxnDate DESC
			</when>
			<when test="datetype == 'Week'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate) DESC
			</when>
			<when test="datetype == 'Month'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate) DESC
			</when>
			<otherwise>
				order by DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate) desc
			</otherwise>
		</choose>
	</select>
	
	
	<!-- 部门 -->
	<select id="ACountDeptlist" resultType="com.slzr.ureport.domain.ACountDo">
		select
		DATEPART(YEAR, TxnDate) AS year,
		<choose>
			<when test="datetype == 'Day'">
				TxnDate AS txnDate,
			</when>
			<when test="datetype == 'Week'">
				DATEPART(Week,TxnDate) AS txnDate,
			</when>
			<when test="datetype == 'Month'">
				DATEPART(Month,TxnDate) AS txnDate,
			</when>
			<otherwise>
				DATEPART(Quarter,TxnDate) AS txnDate,
			</otherwise>
		</choose>
		sum(DebitNum) as consumptionPerson
		,sum(DebitAmount) as consumptionAmount
		,SUM (DebitFreeNum) AS debitFreeNum
		,SUM (DebitFreeAmount) AS debitFreeAmount
		,o.DeptName as deptName
		from BAR_DailySummary_Debit  d 
		LEFT JOIN OPT_Line l ON d.BusLineNO = l.LineCode
		LEFT JOIN OPT_Department o ON o.ID = l.DeptID		
		<where>
			<if test="startDate != null and startDate != '' and endDate!='' and endDate!=null "> and d.TxnDate BETWEEN #{startDate}  AND  #{endDate}</if>
			<if test="deptName != null and deptName != '' "> and o.DeptCode = #{deptName,jdbcType=VARCHAR}</if>
			<if test="merchantCode != null and merchantCode != ''"> and o.MerchantCode = #{merchantCode} </if>
		</where>
		<choose>
			<when test="datetype == 'Day'">
				GROUP BY DATEPART(YEAR, TxnDate), TxnDate,
				o.DeptName
			</when>
			<when test="datetype == 'Week'">
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate),
				o.DeptName
			</when>
			<when test="datetype == 'Month'">
				GROUP BY  DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate),
				o.DeptName
			</when>
			<otherwise>
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate),
				o.DeptName
			</otherwise>
		</choose>
		<choose>
			<when test="datetype == 'Day'">
				order by DATEPART(YEAR, TxnDate), TxnDate DESC
			</when>
			<when test="datetype == 'Week'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate) DESC
			</when>
			<when test="datetype == 'Month'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate) DESC
			</when>
			<otherwise>
				order by DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate) desc
			</otherwise>
		</choose>
	</select>
	
	
	<!-- 司机 -->
	<select id="ACountDriverlist" resultType="com.slzr.ureport.domain.ACountDo">
		select
		DATEPART(YEAR, TxnDate) AS year,
		<choose>
			<when test="datetype == 'Day'">
				TxnDate AS txnDate,
			</when>
			<when test="datetype == 'Week'">
				DATEPART(Week,TxnDate) AS txnDate,
			</when>
			<when test="datetype == 'Month'">
				DATEPART(Month,TxnDate) AS txnDate,
			</when>
			<otherwise>
				DATEPART(Quarter,TxnDate) AS txnDate,
			</otherwise>
		</choose>
		sum(DebitNum) as consumptionPerson
		,sum(DebitAmount) as consumptionAmount
		,SUM (DebitFreeNum) AS debitFreeNum
		,SUM (DebitFreeAmount) AS debitFreeAmount
		,o.DriverName as driverName
		from BAR_DailySummary_Debit  d 
		LEFT JOIN OPT_Driver o ON d.DriverNO = o.DriverNO
		
		<where>
			<if test="startDate != null and startDate != '' and endDate!='' and endDate!=null "> and d.TxnDate BETWEEN #{startDate}  AND  #{endDate}</if>
			<if test="driverName != null and driverName != '' "> and o.DriverNo = #{driverName}</if>
			<if test="merchantCode != null and merchantCode != ''"> and o.MerchantCode = #{merchantCode} </if>
		</where>
		<choose>
			<when test="datetype == 'Day'">
				GROUP BY DATEPART(YEAR, TxnDate), TxnDate,
				o.DriverName
			</when>
			<when test="datetype == 'Week'">
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate),
				o.DriverName
			</when>
			<when test="datetype == 'Month'">
				GROUP BY  DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate),
				o.DriverName
			</when>
			<otherwise>
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate),
				o.DriverName
			</otherwise>
		</choose>
		<choose>
			<when test="datetype == 'Day'">
				order by DATEPART(YEAR, TxnDate), TxnDate DESC
			</when>
			<when test="datetype == 'Week'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate) DESC
			</when>
			<when test="datetype == 'Month'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate) DESC
			</when>
			<otherwise>
				order by DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate) desc
			</otherwise>
		</choose>
	</select>
	
	
	<!-- 线路 -->
	<select id="ACountLine" resultType="com.slzr.ureport.domain.ACountDo">
		select
		DATEPART(YEAR, TxnDate) AS year,
		<choose>
			<when test="datetype == 'Day'">
				TxnDate AS txnDate,
			</when>
			<when test="datetype == 'Week'">
				DATEPART(Week,TxnDate) AS txnDate,
			</when>
			<when test="datetype == 'Month'">
				DATEPART(Month,TxnDate) AS txnDate,
			</when>
			<otherwise>
				DATEPART(Quarter,TxnDate) AS txnDate,
			</otherwise>
		</choose>
		sum(DebitNum) as consumptionPerson
		,sum(DebitAmount) as consumptionAmount
		,SUM (DebitFreeNum) AS debitFreeNum
		,SUM (DebitFreeAmount) AS debitFreeAmount
		,l.LineName as lineName
		from BAR_DailySummary_Debit  d 
		LEFT JOIN OPT_Line l ON d.BusLineNO = l.LineCode
		<where>
			<if test="startDate != null and startDate != '' and endDate!='' and endDate!=null "> and d.TxnDate BETWEEN #{startDate}  AND  #{endDate}</if>
			<if test="lineName != null and lineName != '' "> and l.LineCode = #{lineName}</if>
			<if test="merchantCode != null and merchantCode != ''"> and l.MerchantCode = #{merchantCode} </if>
		</where>
		<choose>
			<when test="datetype == 'Day'">
				GROUP BY DATEPART(YEAR, TxnDate), TxnDate,
				l.LineName
			</when>
			<when test="datetype == 'Week'">
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate),
				l.LineName
			</when>
			<when test="datetype == 'Month'">
				GROUP BY  DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate),
				l.LineName
			</when>
			<otherwise>
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate),
				l.LineName
			</otherwise>
		</choose>
		<choose>
			<when test="datetype == 'Day'">
				order by DATEPART(YEAR, TxnDate), TxnDate DESC
			</when>
			<when test="datetype == 'Week'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate) DESC
			</when>
			<when test="datetype == 'Month'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate) DESC
			</when>
			<otherwise>
				order by DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate) desc
			</otherwise>
		</choose>
	</select>
	
	
	
	
</mapper>