<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slzr.ureport.dao.BcountDao">

	<select id="DeptLinelist" resultType="com.slzr.ureport.domain.BCountDo">
		SELECT
		DATEPART(YEAR, TxnDate) AS year,
		<choose>
			<when test="datetype == 'Day'">
				TxnDate AS txnDate,
			</when>
			<when test="datetype == 'Week'">
				DATEPART(Week,TxnDate) AS txnDate,
			</when>
			<when test="datetype == 'Month'">
				DATEPART(Month,TxnDate) AS txnDate,
			</when>
			<otherwise>
				DATEPART(Quarter,TxnDate) AS TxnDate,
			</otherwise>
		</choose>
		o.DeptName AS deptName,
		l.LineName AS lineName,
		SUM (DebitFreeNum) AS debitFreeNum,
		SUM (DebitFreeAmount) AS debitFreeAmount,
		SUM (DebitNum) AS consumptionPerson,
		SUM (DebitAmount) AS consumptionAmount
		FROM
		BAR_DailySummary_Debit d
		LEFT JOIN OPT_Line l ON d.BusLineNO = l.LineCode
		LEFT JOIN OPT_Department o ON o.ID = l.DeptID
		<where>
			<if test="deptCode != null and deptCode != ''"> and o.DeptCode = #{deptCode} </if>
			<if test="lineCode != null and lineCode != ''"> and l.LineCode = #{lineCode} </if>
			<if test="startDate != null and startDate != '' and endDate!='' and endDate!=null "> and TxnDate BETWEEN #{startDate}  AND  #{endDate}</if>
			<if test="merchantCode != null and merchantCode != ''"> and d.MerchantCode = #{merchantCode} </if>
		</where>
		<choose>
			<when test="datetype == 'Day'">
				GROUP BY DATEPART(YEAR, TxnDate), TxnDate,
				deptName,
				lineName
			</when>
			<when test="datetype == 'Week'">
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate),
				deptName,
				lineName
			</when>
			<when test="datetype == 'Month'">
				GROUP BY  DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate),
				deptName,
				lineName
			</when>
			<otherwise>
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate),
				deptName,
				lineName
			</otherwise>
		</choose>
		<choose>
		<when test="datetype == 'Day'">
			order by DATEPART(YEAR, TxnDate), TxnDate DESC
		</when>
		<when test="datetype == 'Week'">
			order by DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate) DESC
		</when>
		<when test="datetype == 'Month'">
			order by DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate) DESC
		</when>
		<otherwise>
			order by DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate) desc
		</otherwise>
		</choose>
	</select>

	<select id="LineBuslist" resultType="com.slzr.ureport.domain.BCountDo">
		SELECT
		DATEPART(YEAR, TxnDate) AS year,
		<choose>
			<when test="datetype == 'Day'">
				TxnDate AS txnDate,
			</when>
			<when test="datetype == 'Week'">
				DATEPART(Week,TxnDate) AS TxnDate,
			</when>
			<when test="datetype == 'Month'">
			    DATEPART(Month,TxnDate) AS TxnDate,
			</when>
			<otherwise>
				DATEPART(Quarter,TxnDate) AS TxnDate,
			</otherwise>
		</choose>
		b.BusNO AS busNO,
		dr.DriverName AS driverName,
		SUM (DebitFreeNum) AS debitFreeNum,
		SUM (DebitFreeAmount) AS debitFreeAmount,
		SUM (DebitNum) AS consumptionPerson,
		SUM (DebitAmount) AS consumptionAmount
		FROM
		BAR_DailySummary_Debit d
		LEFT JOIN OPT_Terminal te ON d.TerminalNO = te.TerminalNO
		LEFT JOIN OPT_Bus b ON te.BusID = b.ID
		LEFT JOIN OPT_Driver dr ON dr.DriverNO = d.DriverNO
		<where>
			<if test="busNO != null and busNO != ''"> and b.BusNO = #{busNO} </if>
			<if test="lineCode != null and lineCode != ''"> and l.LineCode = #{lineCode} </if>
			<if test="startDate != null and startDate != '' and endDate!='' and endDate!=null "> and TxnDate BETWEEN #{startDate}  AND  #{endDate}</if>
			<if test="merchantCode != null and merchantCode != ''"> and d.MerchantCode = #{merchantCode} </if>
		</where>
		<choose>
			<when test="datetype == 'Day'">
				GROUP BY DATEPART(YEAR, TxnDate), TxnDate,
				busNO,
				driverName
			</when>
			<when test="datetype == 'Week'">
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate),
				busNO,
				driverName
			</when>
			<when test="datetype == 'Month'">
				GROUP BY  DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate),
				busNO,
				driverName
			</when>
			<otherwise>
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate),
				busNO,
				driverName
			</otherwise>
		</choose>
		<choose>
			<when test="datetype == 'Day'">
				order by DATEPART(YEAR, TxnDate), TxnDate DESC
			</when>
			<when test="datetype == 'Week'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate) DESC
			</when>
			<when test="datetype == 'Month'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate) DESC
			</when>
			<otherwise>
				order by DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate) desc
			</otherwise>
		</choose>
	</select>

	<select id="BusDriverlist" resultType="com.slzr.ureport.domain.BCountDo">
		SELECT
		DATEPART(YEAR, TxnDate) AS year,
		<choose>
			<when test="datetype == 'Day'">
				TxnDate AS txnDate,
			</when>
			<when test="datetype == 'Week'">
				DATEPART(Week,TxnDate) AS TxnDate,
			</when>
			<when test="datetype == 'Month'">
				DATEPART(Month,TxnDate) AS TxnDate,
			</when>
			<otherwise>
				DATEPART(Quarter,TxnDate) AS TxnDate,
			</otherwise>
		</choose>
		b.BusNO AS busNO,
		dr.DriverName AS driverName,
		SUM (DebitFreeNum) AS debitFreeNum,
		SUM (DebitFreeAmount) AS debitFreeAmount,
		SUM (DebitNum) AS consumptionPerson,
		SUM (DebitAmount) AS consumptionAmount
		FROM
		BAR_DailySummary_Debit d
		LEFT JOIN OPT_Terminal te ON d.TerminalNO=te.TerminalNO
		LEFT JOIN OPT_Bus b ON te.BusID = b.ID
		LEFT JOIN OPT_Driver dr ON dr.DriverNO = d.DriverNO
		<where>
			<if test="busNO != null and busNO != ''"> and b.BusNO = #{busNO} </if>
			<if test="driverNO != null and driverNO != ''"> and dr.DriverNO = #{driverNO} </if>
			<if test="startDate != null and startDate != '' and endDate!='' and endDate!=null "> and TxnDate BETWEEN #{startDate}  AND  #{endDate}</if>
			<if test="merchantCode != null and merchantCode != ''"> and d.MerchantCode = #{merchantCode} </if>
		</where>
		<choose>
			<when test="datetype == 'Day'">
				GROUP BY DATEPART(YEAR, TxnDate), TxnDate,
				busNO,
				driverName
			</when>
			<when test="datetype == 'Week'">
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate),
				busNO,
				driverName
			</when>
			<when test="datetype == 'Month'">
				GROUP BY  DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate),
				busNO,
				driverName
			</when>
			<otherwise>
				GROUP BY DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate),
				busNO,
				driverName
			</otherwise>
		</choose>
		<choose>
			<when test="datetype == 'Day'">
				order by DATEPART(YEAR, TxnDate), TxnDate DESC
			</when>
			<when test="datetype == 'Week'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Week,TxnDate) DESC
			</when>
			<when test="datetype == 'Month'">
				order by DATEPART(YEAR, TxnDate), DATEPART(Month,TxnDate) DESC
			</when>
			<otherwise>
				order by DATEPART(YEAR, TxnDate), DATEPART(Quarter,TxnDate) desc
			</otherwise>
		</choose>
	</select>
</mapper>