<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slzr.system.dao.StatisticsDao">	
	<select id="GetTotalStatistics" resultType="com.slzr.system.vo.AmountNumVO">		
		SELECT SUM([TopupNum]) as TopupNum
	      ,SUM([TopupAmount]) as TopupAmount
	      ,SUM([DebitNum] + [DelayPaidNum] + [UnPaidNum]) as DebitNum
	      ,SUM([DebitAmount] + [DelayPaidAmount] + [UnPaidAmount]) as DebitAmount
	      ,COALESCE(SUM([RefundNum]),0)+COALESCE(SUM([QRRefundNum]),0)+COALESCE(SUM([ICRefundNum]),0) as RefundNum
	      ,COALESCE(SUM([RefundAmount]),0)+COALESCE(SUM([QRRefundAmount]),0)+COALESCE(SUM([ICRefundAmount]),0) as RefundAmount
	  FROM [dbo].[BAR_DailySummary_Base] 
	  <where>
	  	<if test="code != null and code != ''"> and MerchantCode=#{code} </if>
	  </where>
	</select>
	
	<select id="GetTodayStatistics" resultType="com.slzr.system.vo.AmountNumVO">

		declare @TopupNum int=0;
		declare @TopupAmount decimal(10,2)=0;
		declare @DebitNum int=0;
		declare @DebitAmount decimal(10,2)=0;
		declare @RefundNum int=0;
		declare @RefundAmount decimal(10,2)=0;
		select @TopupNum=count(*),@TopupAmount=COALESCE(SUM([TxnAmount]),0) from [dbo].[BAR_TopupTransaction]
		left join [dbo].[BAR_Account] as accounttb on accounttb.[AccountNO]=[dbo].[BAR_TopupTransaction].[AccountNO]
		where (DATEDIFF(d, [TxnDateTime], GETDATE()) = 0) and [PayResult]=1
		<if test="code != null and code != ''"> and accounttb.[MerchantCode]=#{code} </if>
		select @DebitNum=count(*),@DebitAmount=COALESCE(SUM([TxnAmount]),0) from [dbo].[BAR_DebitTransaction]
		left join [dbo].[BAR_Account] as accounttb on accounttb.[AccountNO]=[dbo].[BAR_DebitTransaction].[AccountNO]
		 where (DATEDIFF(d, [TxnDateTime], GETDATE()) = 0) and [DebitStatus]=1
		<if test="code != null and code != ''"> and accounttb.[MerchantCode]=#{code} </if>
		select @RefundNum =
		(select count(*) as cancelcount from BAR_Account_Cancel as canceltb 
		where (DATEDIFF(d, [RefundTime], GETDATE()) = 0
		<if test="code != null and code != ''"> and canceltb.[MerchantCode]=#{code} </if>
		))
		+
		(select count(*) as barcount from BAR_WX_Refund as bartb 
		left join [dbo].[BAR_TopupTransaction] as transtb on transtb.[OrderNO]=bartb.[RefundOrderNO]
		left join [dbo].[BAR_Account] as accounttb on accounttb.[AccountNO]=transtb.[AccountNO]
		where (DATEDIFF(d, [RefundTime], GETDATE()) = 0
		<if test="code != null and code != ''"> and accounttb.[MerchantCode]=#{code} </if>
		))
		+
		(select count(*) as iccount from IC_WX_Refund as ictb 
		where (DATEDIFF(d, [RefundTime], GETDATE()) = 0
		));
		
		select @RefundAmount =
		(select COALESCE(SUM([Balance]),0) as cancelcount from BAR_Account_Cancel as canceltb 
		where (DATEDIFF(d, [RefundTime], GETDATE()) = 0
		<if test="code != null and code != ''"> and canceltb.[MerchantCode]=#{code} </if>
		))
		+
		(select COALESCE(SUM([RefundAmount]),0) as barcount from BAR_WX_Refund as bartb 
		left join [dbo].[BAR_TopupTransaction] as transtb on transtb.[OrderNO]=bartb.[RefundOrderNO]
		left join [dbo].[BAR_Account] as accounttb on accounttb.[AccountNO]=transtb.[AccountNO]
		where (DATEDIFF(d, [RefundTime], GETDATE()) = 0
		<if test="code != null and code != ''"> and accounttb.[MerchantCode]=#{code} </if>
		))
		+
		(select COALESCE(SUM([RefundAmount]),0) as iccount from IC_WX_Refund as ictb 
		where (DATEDIFF(d, [RefundTime], GETDATE()) = 0
		));
		select @TopupNum  as TopupNum,@TopupAmount as TopupAmount,@DebitNum as DebitNum,@DebitAmount as DebitAmount,@RefundNum as RefundNum,@RefundAmount as RefundAmount;
	</select>
	
	<select id="GetWeekRegister" resultType="com.slzr.system.vo.DayRegisterVO">
	SELECT Convert(varchar(10),createddate,121) as date,count(*) as DayRegister FROM [dbo].[BAR_Account] 
	where createddate > DATEADD(day,-7,getdate()) 
	<if test="code != null and code != ''"> and MerchantCode=#{code} </if>
	 group by Convert(varchar(10),createddate,121)
	</select>
	
	<select id="GetTodayRegister" resultType="int">
		SELECT count(*) FROM [dbo].[BAR_Account]
	  	where (DATEDIFF(d, [createddate], GETDATE()) = 0) 
		<if test="code != null and code != ''"> and MerchantCode=#{code} </if>
	</select>
	
	<select id="GetTotalRegister" resultType="int">
		SELECT count(*) FROM [dbo].[BAR_Account]
		<where>
			<if test="code != null and code != ''"> and MerchantCode=#{code} </if>
		</where>
	</select>
	
	<select id="GetWeekDay" resultType="com.slzr.system.vo.WeekDayVO">
		SELECT CONVERT(varchar(10), [TxnDate], 121) as date
	      ,SUM([TopupNum]) as DayTopupNum
	      ,SUM([TopupAmount]) as DayTopupAmount
	      ,SUM([DebitNum] + [DelayPaidNum] + [UnPaidNum]) as DayDebitNum
	      ,SUM([DebitAmount] + [DelayPaidAmount] + [UnPaidAmount]) as DayDebitAmount
	      ,SUM([RefundNum]) as DayRefundNum
	      ,SUM([RefundAmount]) as DayRefundAmount
	  FROM [dbo].[BAR_DailySummary_Base] 
	  where DATEDIFF(d, [TxnDate], GETDATE()) &lt; 7
	  <if test="code != null and code != ''"> and MerchantCode=#{code}</if>
	  GROUP BY CONVERT(varchar(10), [TxnDate], 121)
	</select>
	
</mapper>