<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg commonquerypage">

<div>


	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar clearfix">

						<div class="searchbox columns pull-left col-md-4 nopadding">
							<input class="searchinput form-control" id="searchName" placeholder="请输入关键字进行搜索,如客户姓名、手机号" type="text">
						</div>
						<div class="querybtns columns pull-left">
							<button class="btn btn-success btn-sm" onclick="reLoad()">查询</button>
							<button id="btnreset" class="btn btn-success btn-sm">重置</button>
						</div>
						<span class="modechangebtn pull-right">高级查询 <i class="fa fa-chevron-down"></i></span>
					</div>
					<div class="query-inputs clearfix">
						<div class="layui-form">

							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">解决状态</label>
									<div class="layui-input-block">
										<select name="state" id="state">
											<option value=""></option>
											<option value="1">已解决</option>
											<option value="0">未解决</option>
										</select>
									</div>
								</div>

							</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="operation:guestmessage:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="operation:guestmessage:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="operation:guestmessage:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/operation/guestmessage/guestMessage.js"></script>
</body>
</html>